//color
$body-bg: #181818;
$header-bg: #151515;
$light-dark: #1e1d1d;
$green: #02e602;

//font
@mixin font($weight, $size, $lineHeight: 16, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  color: $color;
}
